@use "../utils/function" as func;
@use "../utils/variables" as var;

.container {
  max-width: func.container(1500, 110, var.$mobilePadding);
  padding-left: var.$mobilePadding + px;
  padding-right: var.$mobilePadding + px;
  margin: 0 auto;
}

